.body-cont {
    height: 100vh;
}

.hero-img {
    width: 100%;
    height: 100%;
    position: relative;

}

.content-box {
    position: absolute;
    top: 40%;
    right: 10%;
    color: #a0b2b9;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.landing-btn {
    background-color: transparent;
    border: none;
    font-size: 1.3rem;
    color: #a0b2b9;
    cursor: pointer;
    padding: 10px;
}

.landing-btn:hover {
    text-decoration: underline 1px solid #a0b2b9;
    color: #7c3935;
}

@media screen and (max-width: 900px) {
    .content-box {
        top: 70%;
    }
}

@media screen and (max-width: 810px) {
    .content-box {
        top: 90%;
        margin-bottom: 20px;
        right: 25%;
        height: auto;
    }

    .hero-img {
        height: 90%;
    }
}

@media screen and (max-width: 610px) {
    .content-box {
        top: 70%;
        margin-bottom: 20px;
        right: 25%;
        height: auto;
    }

    .hero-img {
        height: 70%;
    }
}

@media screen and (max-width: 420px) {
    .content-box {
        top: 60%;
        height: auto;
        margin-left: 10px;
    }

    .hero-img {
        height: 60%;
    }
}