.nav-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    background-color: #1B262C;
    /* width: auto; */
}
.nav-left{
    display: flex;
}
.nav-btn{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.nav-icon{
    color: #a0b2b9;
}
.brand-name{
    color: #a0b2b9;
    font-size: 2rem;
    font-style: italic;
    margin: 0px 10px;
    padding: 0px;
}
.brand-quote{
    font-size: small;
    margin: 0px;
}

.nav-buttons{
    display: flex;
    gap: 7px;
}

.ham{
    display: none;
}

@media  screen and (max-width : 600px) {
    .ham{
        display: block;
    }
}
@media screen and (max-width: 415px) {
    .nav-cont{
        width: 100%;
    }   
}
