li {
    list-style: none;
}

.side-item {
    color: #a0b2b9;
    font-size: 1.1rem;
    font-weight: 400;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: max-content;
}

.side-item:hover {
    color: #12191d;
    background-color: #a0b2b9;
    text-decoration: underline;
}

.fas {
    margin-right: 6px;
    padding-right: 0px;

}

.link-style {
    text-decoration: none;
}

.side-icon {
    margin-right: 5px;
}

@media screen and (max-width: 570px) {
    .items {
        padding: 5px;
    }
}